spring:
  application:
    name: starter-kit-springboot
  datasource:
    url: jdbc:postgresql://localhost:5433/belajar_diagram
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080

app:
  jwt:
    secret: "my-dev-secret-12345678901234567890123456789012"
    expiration-ms: 3600000
